#Header{
  background: linear-gradient(135deg, #00012f, #1c1f7c);
  display:flex;
  flex-flow: column;
  color:#fff;
}
#Header>div{
  flex:1;
  background-image: url("/img/header-compress.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
@media (min-width: 1px) and (max-width:900px){
  #Header{
    min-height:250px;
  }
}
@media (min-width: 901px) and (max-width:1479px){
  #Header{
    min-height:300px;
  }
  #Header h1{
    font-size: 40px;
  }
}
@media (min-width: 1480px){
  #Header{
    min-height:400px;
  }
  #Header h1{
    font-size: 45px;
  }
}
