@import "font/font";
@import "module/colors";
@import "app";
@import "components/main";
@import "components/header";
@import "components/navigation";

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

#root {
  display: flex;
}
::selection{
  background: #00077b;
  color:#fff;
}
p {
  font-size: 1.3em;
}

h2 {
  font-size: 1.8em;
  text-shadow: 1px 1px 2px #00077b;
}

h3 {
  font-size: 1.4em;
  text-shadow: 1px 1px 2px #00077b;
}

.align-center {
  text-align: center;
}

a {
  color: #00077b;
}

a:hover {
  color: #00077b;
  text-shadow: 1px 1px 2px #00077b;
}
